<h1>Crear protocolo</h1>

<%= render 'form', protocol: @protocol %>

<div class="div_buttons">
  <%= link_to 'Volver al listado', protocols_path, class: "btn btn-primary"%>
  <a class="btn btn-primary" href="/index">Volver a inicio</a>
</div>
